body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 300px;
}

.sidebar {

}

.sidebar-img {
  width: 300px;
}

.yandex {

}

.yandex-upper {
  display: flex;
  justify-content: space-between;

}

.case-banner {
  width: 240px;
}

.banner {
  width: 400px;
}

.search {

}

.yandex-buttom {
  display: flex;
  justify-content: space-between;
}

.case-item {
  display: flex;
  flex-direction: column;
  width: 200px;
}
